<h3>There are so many friendly people out there who just wanna give each other pixy dust</h3>

<center>
![avatar_crop.png](https://images.ecency.com/DQmebFBg7DSjU8Zm2junPS3W4tX5R3HsHbRE4NRWLEmSPgx/a_dreamy_close_up_photograph_of_an_ether_b_zjy_heqdojnjvqtyuefa_xo5i7uupt_gh_xq9stpzrw_sd.jpeg)
</center>

<b>To limit the comments but still inform the sender and receiver, these comments will now be collected in a daily posting. Because like pixy dust a great idea can be shared with everyone.</b>

<hr>

<h4>Statistics for {{yesterday}}</h4>

|||
|-|-|
|Total calls|{{total_calls}}|
|Successfully delivered pixydust |{{successful_calls}}|
|Failed because daily limit exceeded|{{failed_daily_limit}}|
|Failed because too many simultaneous commands|{{failed_too_many_commands}}|

<h4>About the PIXYDUST token</h4>

Everyone deserves pixy dust. 🧚

Call the bot with either !PIXYDUST or !PIXY in your comment and you will share pixy dust with the person you are responding to.

The call levels are based on 1 PIXYBOT call per 25 Hive Power delegated.  There is a maximum of 25/day.  The current call limits work like this:

|Hive Power Delegation|PIXYBOT Calls Per Day||
|-|-|
|25|1🧚|
|50|2🧚|
|75|3🧚|
|100|4🧚|
|125|5🧚|
|250|10🧚|
|375|15🧚|
|500|20🧚|
|625|25v|

**The @pixydust bot will ignore your call if you use more than 25 !commands in your comment.**

<b>Bot created 2026-05-04:</b> Based on the https://github.com/hannes-stoffel/hug.bot source code to the https://peakd.com/@hug.bot Hug bot.
<hr>
