{{sender_account}}, sorry! You need to delegate more Hive Power to use this command.

The minimum requirement is {{min_staked}} Hive Power delegation to the pixydust account.
<sub>Respond with STOP to remove mentions. Respond with TAGME to reallow mentions.</sub>